##########################
# EUREKA ENVIRONMENT
EUREKA_SERVER_PORT=
EUREKA_ZONE_URL=

##########################
# GATEWAY SERVICE
GATEWAY_PORT=

##########################
# KEYCLOAK (SERVER & DATABASE)
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_ISSUER_URI=
KEYCLOAK_JWK_URI=
SERVICE_TOKEN_URL=
SERVICE_TOKEN_URL_AUTH=
KEYCLOAK_TOKEN_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_PORT_O1=
KEYCLOAK_PORT_O2=
KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=
KC_DB=
KC_POSTGRES_DB=
KC_POSTGRES_USER=
KC_POSTGRES_PASSWORD=
KC_POSTGRES_PORTS=
KC_DB_URL_HOST=

##########################
# EMAIL ACCESS
EMAIL_ADDRESS=
EMAIL_PASSWORD=

##########################
# RABBITMQ SERVER
RABBITMQ_SERVER_PORT=
RABBITMQ_WEB_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=

##########################
# RABBITMQ QUEUES
PAYMENTS_RABBITMQ_SUBSCRIBER_QUEUE=
PAYMENTS_RABBITMQ_PUBLISHER_EXCHANGE=
CUSTOMERS_DELETED_QUEUE=
RESTAURANT_DELETED_QUEUE=
NOTIFICATIONS_RABBITMQ_ORDER_CONFIRMATION_QUEUE=
NOTIFICATIONS_RABBITMQ_PAYMENT_APPROVED_QUEUE=
NOTIFICATIONS_RABBITMQ_DELIVERY_READY_QUEUE=
DELIVERIES_RABBITMQ_SUBSCRIBE_PAYMENT_QUEUE=

##########################
# RABBITMQ EXCHANGES
ORDERS_RABBITMQ_EXCHANGE_VERIFY_PAYMENT=
ORDERS_RABBITMQ_EXCHANGE_APPROVED_PAYMENT=
ORDERS_RABBITMQ_DELIVERY_READY_UPDATE=
DELIVERIES_RABBITMQ_PUBLISHER_DELIVERY_READY=

##########################
# REDIS DATABASE
REDIS_PORTS=
REDIS_HOST=
REDIS_USER=
REDIS_PASSWORD=

##########################
# CUSTOMERS DATABASE
CUSTOMER_POSTGRES_DB=
CUSTOMER_POSTGRES_USER=
CUSTOMER_POSTGRES_PASSWORD=
CUSTOMER_POSTGRES_URL=
CUSTOMER_POSTGRES_PORT=

##########################
# RESTAURANTS DATABASE
RESTAURANTS_POSTGRES_DB=
RESTAURANTS_POSTGRES_USER=
RESTAURANTS_POSTGRES_PASSWORD=
RESTAURANTS_POSTGRES_URL=
RESTAURANTS_DB_HOST=
RESTAURANTS_DB_PORT=

##########################
# DELIVERY DATABASE
DELIVERY_POSTGRES_DB=
DELIVERY_POSTGRES_USER=
DELIVERY_POSTGRES_PASSWORD=
DELIVERY_DB_PORT=
DELIVERY_POSTGRES_URL=

##########################
# ORDERS DATABASE
ORDERS_MONGO_DB_URI=

##########################
# PAYMENTS DATABASE
PAYMENTS_MONGO_DB_URI=

##########################
# PG ADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
DB_POSTGRES_PORT=